BoilerHouseBackend/api/migrations/
BoilerHouseBackend/api/__pycache__/
BoilerHouseBackend/BoilerHouseBackend/__pycache__/
BoilerHouseBackend/env/bin
BoilerHouseBackend/env/lib/python3.12/site-packages/
BoilerHouseFrontend/node_modules/
BoilerHouseBackend/env/pyvenv.cfg
BoilerHouseBackend/.env
BoilerHouseBackend/api/.env
BoilerHouseBackend/api/migrations/__pycache__/0001_initial.cpython-311.pyc
BoilerHouseBackend/api/migrations/__pycache__/__init__.cpython-311.pyc
/BoilerHouseBackend/api/migrations
